/* Page-wide styles */
body {
  font-family: helvetica;
  color: rgb(48,48,48);
  font-size: 16px;
}

.styleda:link, .styleda:visited {
  color: rgb(48,48,48);
  text-decoration-line: none;
}

.nav {
  display: inline-flex;
  align-items: center;
}

.nav-link {
  margin: 0 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1  {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

img, video {
  height: auto;
  width: 100%;
}

/* Style the Header */
#header {
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  justify-content: space-between;
}

/* Style the Logo */
#logo {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  margin-left: 0.5rem;
}

#logosecond {
  color: DarkGray;
  font-weight: normal;
}

#logo img {
    height: 2rem;
}

/* Style Elements used throughout Main */
.left-pane {
  width: 60%;
  overflow: hidden;
  padding: 2rem 1.5rem 0.5rem 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-pane p {
  margin: 1.5rem 0;
}

.left-pane img  {
  padding-bottom: 2rem;
}

.right-pane {
  display: inline-flex;
  width: 40%;
  flex-direction: column;
}

.info-boxes {
  display: inline-flex;
  overflow: hidden;
  border-bottom-style: double;
  border-bottom-color: LightGray;
  border-bottom-width: thin;
  padding: 1rem;
}

.info-boxes-photo {
  display: flex;
  align-items: center;
  width: 35%;
}

.info-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
}

.info-text h4 {
  margin: 0.5rem 0;
}

.title-box {
  display: flex;
  justify-content: center;
}

.title-box h1 {
  padding-top: 2rem;
}

/* Style Banner */
#main-banner {
  display: inline-flex;
  background-color: LightGray;
  align-items: center;
}

#banner-button {
  display: flex;
  background-color: rgb(48,48,48);
  justify-content: center;
  width: 80%;
}

#banner-button a {
  color: Lightgray;
  margin: 0.5rem;
}

#flavor-element {
  margin: 1.5rem 0;
  font-weight: normal;
}

/* Style the Information box */
#main-information {
  display: flex;
}

#testimonial {
  margin-bottom: 2rem;
}

#info-cards {
  padding-top: 1rem;
  border-left-color: LightGray;
  border-left-style: solid;
  border-left-width: thin;
}

#sack {
  background-color: LightGray;
}

/* Style Course section */
#main-courses {
  background-color: LightGray;
}

#course-listings {
  padding: 1rem 3.5rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.course-boxes {
  width: 30%;
  margin: 1rem;
  background-color: white;
}

.course-boxes img {
  width: 100%
  height  auto;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.course-text a {
  margin: 1rem 0;
}

/* Style the Thesis section */
#thesis-content {
  display: flex;
}

.left-pane video {
  background-color: LightGray;
  margin-bottom: 1.5rem;
}

#thesis-cards {
  padding-top: 2rem;
}

#thesis-fisma {
  background-color: LightGray;
}

#new-york {
  border-bottom: none;
}

/* Style the footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-top: thin solid LightGray;
}

#footer h3 {
  margin-left: 0.5rem;
}
