/* Page-wide styles */
body {
  font-family: helvetica;
  color: rgb(48,48,48);
  font-size: 16px;
}

a:link, a:visited {
  color: rgb(48,48,48);
  text-decoration-line: none;
}

.nav {
  display: inline-flex;
  align-items: center;
}

.nav-link {
  margin: 0 0.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

h1  {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

/* Style the Header */
#header {
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  justify-content: space-between;
}

/* Style the Logo */
#logo {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  margin-left: 0.5rem;
}

#logosecond {
  color: DarkGray;
  font-weight: normal;
}

#logo img {
    height: 2rem;
}

/* Style Main Elements */
.left-pane {
  width: 60%;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.left-pane img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.right-pane {
  display: flex;
  width: 40%;
  flex-direction: column;
}

/* Style Banner */
#main-banner {
  display: inline-flex;
  background-color: LightGray;
  align-items: center;
}
#banner-button {
  display: flex;
  background-color: rgb(48,48,48);
  justify-content: center;
  width: 80%;
}

#banner-button a {
  color: Lightgray;
  margin: 0.5rem;
}

/* Style the Information box */
#main-information {
  display: flex;
}


/* Style the footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

#footer h3 {
  margin-left: 0.5rem;
}
