/* Page-wide styles */
body {
  font-family: helvetica;
  color: rgb(48,48,48);
}

a:link {
  color: rgb(48,48,48);
  text-decoration-line: none;
}

.nav-link {
  margin: 0 0.5rem;
}

p {
  color: DarkGray;
  font-size: 0.5rem;
}

h1  {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

/* Style the Header */
#header {
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  justify-content: space-between;
}

/* Style the Logo */
#logo {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  margin-left: 0.5rem;
}

#logosecond {
  color: DarkGray;
  font-weight: normal;
}

#logo img {
    height: 2rem;
}

/*Style the Header Navigation Links */
#header-nav {
  display: inline-flex;
  align-items: center;
}

#header-nav li {
  font-size: 0.80rem;
}

/* Style Main Elements */
/* Style Banner */
#main-banner {
  display: flex;
  background-color: LightGray;
  align-items: center;
}

#banner-photo {
  height: 60%;
  width: 60%;
  margin: 2rem 1.5rem;
}

#banner-flavor {
  display: flex;
  flex-direction: column;
}

.flavor-element {
  margin-bottom: 1.5rem;
}

#banner-button {
  display: flex;
  background-color: rgb(48,48,48);
  justify-content: center;
  width: 80%;
}

#banner-button a:link, a:visited {
  color: LightGray;
}

#banner-button a {
  margin: 0.5rem;
}

/* Style the footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.5rem;
  color: DarkGray;
  padding: 1.5rem;
}

#footer h3 {
  margin-left: 0.5rem;
}

#footer-nav {
  display: inline-flex;
}
